
CMakeLists.txt
cmake-build-debug/SystemsProject.cbp
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/*
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
.idea/SystemsProject.iml
.idea/modules.xml
.idea/misc.xml
*.xml
cmake-build-debug/SystemsProject.exe
